<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - TaskFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-page">

    <main class="auth-container">

        <div class="auth-brand">
            <h1>TaskFlow</h1>
            <p>Organize suas tarefas. Simplifique seu dia.</p>
        </div>

        <div class="auth-card">

            <h2>Bem-vindo de volta</h2>
            <p class="auth-subtitle">Entre na sua conta para continuar.</p>
                {% if erro %}
                 <div class="auth-error">
                     {{ erro }}
                 </div>
                {% endif %}
            <form action="/entrar" method="POST" class="auth-form">

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="seu@email.com"
                        required
                    >
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input
                        type="password"
                        id="senha"
                        name="senha"
                        placeholder="Digite sua senha"
                        required
                    >
                </div>

                <button type="submit" class="auth-button">
                    Entrar
                </button>

            </form>

            <p class="auth-footer">
                Ainda não tem uma conta?
                <a href="/cadastro">Criar conta</a>
            </p>

        </div>

    </main>

</body>
</html>